body {
    font-family: 'Concert One', cursive;
    color: white;
}
#header {
    background-color: #fec63f;
    text-align: center;
}

#titleGuess {
    font-size: 100px;
    font-family: 'Bangers', cursive;
}

#titleTheEmoji {
    font-size: 100px;
    font-family: 'Concert One', cursive;
    font-weight: thin;
    color: rgb(120, 157, 206);

}

#titleEmojis {
    width: 70px;
    height: 70px;
}

#body {
    padding: 50px;
    color: rgb(120, 157, 206);
    height: auto;
}

#guessingBox {
    border-style: solid;
    border-width: 2px;
    height: 300px;
    padding: 50px;
}

#emojiPics {
    width: 50px;
    height: 50px;
}

.emoji {
    text-align: center;
    margin: 20px auto;
    display: block;
}

#wordLine {
    margin: 20px auto;
}

#letterGuessedBox {
    border-style: solid;
    border-width: 2px;
    height: 200px;
}

#attemptsLeftBox {
    border-style: solid;
    border-width: 2px;
    height: 200px;
}

#winsBox {
    border-style: solid;
    border-width: 2px;
    height: 100px;
}

#lossesBox {
    border-style: solid;
    border-width: 2px;
    height: 100px;
}

.box {
    border-radius: 10px;
}

#footer {
    background-color:#fec63f;
    position: fixed;
    bottom: 0;
    height: 10%;
    
}

